<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""/> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8" lang=""/> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9" lang=""/> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang=""/> <!--<![endif]-->
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title></title>
    <meta name="description" content=""/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="apple-touch-icon" href="apple-touch-icon.png"/>

    <script th:src="@{/ressources/js/vendor/jquery-1.11.2.min.js}"></script>
    <script th:src="@{/ressources/js/main.js}"></script>

    <link rel="stylesheet" th:href="@{/styles/normalize.min.css}"/>
    <link rel="stylesheet" th:href="@{/styles/malblinder.css}"/>

    <script src="https://use.fontawesome.com/caf5a2c347.js"></script>
    <script th:src="@{/ressources/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js}"></script>
    <script th:src="@{/ressources/js/youtube.js}"></script>
</head>
<body onload="startup()">
<div th:include="layout/commun :: header"></div>
<div class="main-container">
    <div class="main wrapper clearfix">
        <article>
            <h1 class="titre" id="titre" th:text="${anime.getTitre() +' (id: '+anime.getId()+')'}"/>
            <hr/>

            <div th:include="layout/commun :: erreur"></div>

            <h2 class="titre" id="randomOpening" th:class="${video.getVideoId()}" th:if="${opening!=null}"
                    th:text="${'Opening : ('+opening.getTitle()+' '+opening.getArtist()+')'}"></h2>
                <img id="openingImg" th:if="${opening!=null}" th:src="${video.getImageLink()}"/>
                <button id="hide">Cacher</button>
                <button id="show">Montrer</button>
                <button id="revealSacs">Révéler les sacs</button>
            <br/>
            <div id="player"></div>
            <br/><br/>
            <a th:href="@{/blindtest/process/again}"><button>Suivant</button></a>
        </article>
        <br/>
        <aside id="sacs">
            <h3>Les sacs qui doivent trouver cet opening sont :</h3>
            <div th:each="sac : ${sacs}">
                <p th:text="${sac.toString()}"></p>
            </div>
        </aside>
    </div>
</div>
<div th:include="layout/commun :: footer"></div>
</body>
</html>