<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>MALBlinder</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/styles/malblinder.css}"/>
</head>
<body>
<div id="content">
<p th:text="${'API : '}+${ping?'OK':'NOK'}"></p>
    <br/>
    <form th:action="@{/do}" th:method="post">
        <label>Entrer l'id de l'anime pour récupérer ses openings</label>
        <input th:name="id" th:id="id" th:type="number" th:required="required"/>
        <button th:type="submit">Envoyer</button>
    </form>
    <br/>
    <form th:action="@{/getAnimeList}" th:method="post">
        <label>Entrer votre pseudo</label>
        <input th:name="pseudo" th:id="pseudo" th:type="text" th:required="required"/>
        <button th:type="submit">Envoyer</button>
    </form>
</div>
</body>
</html>