
html {
    height: 100%;
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

body {
    margin: 0 0 104px;
    font: 16px/26px Helvetica, Helvetica Neue, Arial;
}

.wrapper {
    width: 90%;
    margin: 0 5%;
}

/* ===================
    ALL: Theme
   =================== */

.header-container {
    border-bottom: 20px solid #e1e7f5;
}

.footer-container,
.main aside {
    border-top: 11px solid #e1e7f5;
}

.header-container,
.footer-container,
.main aside {
    background: #1d439b;
}

.title {
    color: white;
}

.footer-container a {
    text-decoration: none;
}

.footer-container a:hover {
    text-decoration: underline;
    color: white;
}

.footer-container a:visited {
    text-decoration: none;
    color: white;
}

/* ==============
    MOBILE: Menu
   ============== */

nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

nav a {
    display: block;
    margin-bottom: 10px;
    padding: 15px 0;

    text-align: center;
    text-decoration: none;
    font-weight: bold;

    color: black;
    background: #e1e7f5;
}

nav a:hover {
    color: white;
}

nav a:visited {
    color: black;
}

nav a:hover {
    text-decoration: underline;
}

/* ==============
    MOBILE: Main
   ============== */

.main {
    padding: 20px 0;
}

.main article h1 {
    font-size: 2em;
}

.main aside {
    color: white;
    padding: 0px 5% 10px;
}

.footer-container footer {
    color: white;
    padding: 0 0;
}

/* ===============
    ALL: IE Fixes
   =============== */

.ie7 .title {
    padding-top: 20px;
}

/* ==========================================================================
   Custom Styles
   ========================================================================== */

.main-container {
    height: 100%;
    min-height: 100%;
    margin-top: 56px;
    margin-bottom: -104px;
}

.footer-container a:visited {
    color: white;
}

.main-container:after {
    content: "";
    display: block;
}

.footer-container, .main-container:after {
    height: 52px;
    clear: both;
    position: fixed;
    bottom: 0;
    min-width: 100%;
}

.green {
    color: lawngreen;
}

.red {
    color: red;
}

button {
    -moz-box-shadow: inset 0px 1px 0px 0px #bbdaf7;
    -webkit-box-shadow: inset 0px 1px 0px 0px #bbdaf7;
    box-shadow: inset 0px 1px 0px 0px #bbdaf7;
    background-color: #1d439b;
    -webkit-border-top-left-radius: 37px;
    -moz-border-radius-topleft: 37px;
    border-top-left-radius: 37px;
    -webkit-border-top-right-radius: 0px;
    -moz-border-radius-topright: 0px;
    border-top-right-radius: 0px;
    -webkit-border-bottom-right-radius: 37px;
    -moz-border-radius-bottomright: 37px;
    border-bottom-right-radius: 37px;
    -webkit-border-bottom-left-radius: 0px;
    -moz-border-radius-bottomleft: 0px;
    border-bottom-left-radius: 0px;
    text-indent: 0;
    border: 1px solid #84bbf3;
    display: inline-block;
    color: #ffffff;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    font-style: normal;
    height: 65px;
    line-height: 65px;
    width: 131px;
    text-decoration: none;
    text-align: center;
    text-shadow: 1px 1px 0px #528ecc;
    margin-top: 5px;
}

button:hover {
    background-color: #e1e7f5;
    color: black;
}

button:active {
    position: relative;
    top: 1px;
}

input {
    color: #3c3c3c;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 18px;
    border-radius: 0;
    line-height: 22px;
    background-color: #fbfbfb;
    padding: 13px 13px 13px 54px;
    margin-bottom: 10px;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    border: 3px solid #e1e7f5;
}

input:focus {
    background: #fff;
    box-shadow: 0;
    border: 3px solid #1d439b;
    color: black;
    outline: none;
    padding: 13px 13px 13px 54px;
}

input:hover, textarea:hover,
input:focus, textarea:focus {
    background-color: white;
}

label {
    font-family: Helvetica;
    font-size: 16px;
    font-weight: bold;
    margin-bot: 2px;
}

.header-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    /*height: 100px;*/
    overflow: hidden;
    -webkit-transition: height 0.3s;
    -moz-transition: height 0.3s;
    transition: height 0.3s;
    /*text-align:center;
    line-height:160px;*/

}

.header-container.shrink {
    height: 50px;
    /*line-height:80px;*/
}

.header-container h1 {
    font-size: 30px;
    font-weight: normal;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    line-height: 35px;
}

.header-container.shrink h1 {
    font-size: 24px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    line-height: 18px;
}

.header-container ul {
    font-size: 16px;
}

.header-container.shrink ul {
    font-size: 13px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    line-height: 1px;
}

/* Boîte d'alertes */

.message{
    background-size: 40px 40px;
    background-image: linear-gradient(135deg, rgba(255, 255, 255, .05) 25%, transparent 25%,
    transparent 50%, rgba(255, 255, 255, .05) 50%, rgba(255, 255, 255, .05) 75%,
    transparent 75%, transparent);
    box-shadow: inset 0 -1px 0 rgba(255,255,255,.4);
    border: 1px solid;
    color: #fff;
    padding: 15px;
    text-shadow: 0 1px 0 rgba(0,0,0,.5);
    animation: animate-bg 5s linear infinite;
}

.info{
    background-color: #4ea5cd;
    border-color: #3b8eb5;
}

.error{
    background-color: #de4343;
    border-color: #c43d3d;
}

.warning{
    background-color: #eaaf51;
    border-color: #d99a36;
}

.success{
    background-color: #61b832;
    border-color: #55a12c;
}

.message h3{
    margin: 0 0 5px 0;
}

.message p{
    margin: 0;
}

@keyframes animate-bg {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -80px 0;
    }
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (max-width: 480px) {
    /* ====================
    INTERMEDIATE: Main
   ==================== */
    .main {
        padding: 280px 0;
    }
}

@media only screen and (min-width: 480px) {

    /* ====================
        INTERMEDIATE: Main
       ==================== */
    .main {
        padding: 150px 0;
    }

    /* ====================
        INTERMEDIATE: Menu
       ==================== */
    nav a {
        color: black;
        float: left;
        width: 27%;
        margin: 0 1.7%;
        padding: 25px 2%;
        margin-bottom: 0;
    }

    nav li:first-child a {
        margin-left: 0;
    }

    nav li:last-child a {
        margin-right: 0;
    }

    /* ========================
        INTERMEDIATE: IE Fixes
       ======================== */
    nav ul li {
        display: inline;
    }

    .oldie nav a {
        margin: 0 0.7%;
    }
}

@media only screen and (min-width: 768px) {

    /* ====================
    INTERMEDIATE: Main
   ==================== */
    .main {
        padding: 60px 0;
    }

    /* ====================
        WIDE: CSS3 Effects
       ==================== */
    .header-container,
    .main aside {
        -webkit-box-shadow: 0 5px 10px #aaa;
        -moz-box-shadow: 0 5px 10px #aaa;
        box-shadow: 0 5px 10px #aaa;
    }

    /* ============
        WIDE: Menu
       ============ */
    .title {
        float: left;
    }

    nav {
        float: right;
        width: 38%;
    }

    .main article {
        float: left;
        width: 60%;
    }

    .main aside {
        float: right;
        width: 20%;
    }
}

@media only screen and (min-width: 1140px) {

    /* ====================
        INTERMEDIATE: Main
       ==================== */
    .main {
        padding: 60px 0;
    }

    /* ===============
        Maximal Width
       =============== */
    .wrapper {
        width: 1026px; /* 1140px - 10% for margins */
        margin: 0 auto;
    }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}