<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"/> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8" lang="" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"/> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9" lang="" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"/> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"/> <!--<![endif]-->

<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title>MALBlinder</title>
    <meta name="description" content=""/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="apple-touch-icon" href="apple-touch-icon.png"/>

    <link rel="stylesheet" th:href="@{/styles/normalize.min.css}"/>
    <link rel="stylesheet" th:href="@{/styles/malblinder.css}"/>

    <script src="https://use.fontawesome.com/caf5a2c347.js"></script>
    <script th:src="@{/ressources/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js}"></script>
</head>
<body>
<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->
<div th:include="layout/commun :: header"></div>
<div class="main-container">
    <div class="main wrapper clearfix">
        <article>
            <h1 th:text="BlindTest"/>
            <hr/>

            <div th:include="layout/commun :: erreur"></div>

            <form th:action="@{/}" th:method="post">
                <h2>
                    <a class="first after" href="#" id="addScnt">
                    <i class="fa fa-plus" aria-hidden="true"></i>
                    Ajouter un compte myanimelist.net
                    </a>
                </h2>

                <div id="p_scents">
                    <p>
                        <label class="fieldCompte" for="p_scnt">
                            <input th:required="required" type="text" size="20" id="p_scnt" name="p_scnt" value="" placeholder="Pseudo myanimelist" onblur="validateUser($(this).val())?$(this).css('border-color', 'green') : $(this).css('border-color', 'red');" />
                        </label>
                    </p>
                </div>
                <button th:type="submit" th:disabled="disabled">Envoyer</button>
            </form>
        </article>
    </div>
</div>
<div th:include="layout/commun :: footer"></div>
</body>
</html>